<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr class="filters">
                    <th>
                        <div class="btn-group btn-outline-primary" style="float: left;">
                            <button class="btn" (click)="searchOrderByStatus('register')"> Register/Placed </button>
                            <button class="btn" (click)="searchOrderByStatus('shipped')"> Shipped/Taken by shipper </button>
                            <button class="btn" (click)="searchOrderByStatus('contact_1')"> Contact 1 </button>
                            <button class="btn" (click)="searchOrderByStatus('contact_2')"> Contact 2 </button>
                            <button class="btn" (click)="searchOrderByStatus('received')"> Received </button>
                            <button class="btn" (click)="searchOrderByStatus('returned')"> Return</button>
                            <button class="btn" (click)="searchOrderByStatus('cancelled')"> Cancel </button>
                            <button class="btn" (click)="searchOrderByStatus('completed')"> Complete </button>
                            <button class="btn" (click)="searchOrderByStatus('')"> All </button>
                        </div>
                    </th>
                    <th>
                        <div class="btn-group btn-outline-primary">
                            <button class="btn" (click)="redirectManualOrder()">Add Manual Order</button>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
        <table class="table">
            <thead>
                <tr class="filters">
                    <th><input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="_searchOrder.phoneNumber"></th>
                    <th><input type="text" class="form-control" placeholder="Username" [(ngModel)]="_searchOrder.username"></th>
                    <th><input type="text" class="form-control" placeholder="Tracking Number" [(ngModel)]="_searchOrder.trackingNumber"></th>
                    <th>
                        <select name="website" id="website" [(ngModel)]="_searchOrder.website">
                            <option value="" selected>Select Website</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Instagram">Instagram</option>
                            <option value="Snapchat">Snapchat</option>
                            <option value="Tiktok">Tiktok</option>
                            <option value="Site">Site</option>
                        </select>
                    </th>
                    <th>
                        <select name="pageName" id="pageName" [(ngModel)]="_searchOrder.pageName">
                            <option value="" selected>Select Page</option>
                            <option value="Gifty">Gifty</option>
                            <option value="The Pirate">The Pirate</option>
                            <option value="Dukkan">Dukkan</option>
                            <option value="Venice">Venice</option>
                            <option value="alwan">alwan</option>
                        </select>
                    </th>
                    <th>
                        <select name="sellerName" id="sellerName" [(ngModel)]="_searchOrder.sellerName">
                            <option value="" selected>Select Seller Name</option>
                            <option value="Bayan">Bayan</option>
                            <option value="Alaa">Ala'a</option>
                            <option value="Merve">Merve</option>
                            <option value="Areej">Areej</option>
                            <option value="Sarah">Sarah</option>
                            <option value="Madi7a">Madi7a</option>
                        </select>
                    </th>
                    <th>
                        <select name="sellerName" id="sellerName" [(ngModel)]="_searchOrder.shippingCarrier">
                            <option value="" selected>Select Shipping Carrier</option>
                            <option value="1">Aramex</option>
                            <option value="2">Xturbo</option>
                            <option value="3">Fastlo</option>
                            <option value="4">Custom</option>
                        </select>
                    </th>
                    <th><button class="btn btn-primary" (click)="searchOrder()">Search</button></th>
                    <th colspan="3"></th>
                </tr>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">City</th>
                    <th scope="col">Full Price</th>
                    <th scope="col">Tracking Number</th>
                    <th scope="col">State</th>
                    <th scope="col">Website Type</th>
                    <th scope="col">Page Name</th>
                    <th scope="col">Seller Name</th>
                    <th scope="col">Company Carrier</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders;let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{order.createdAt | date : "YYYY-MM-dd HH:mm:ss" }}</td>
                    <td>{{order.fullName}}</td>
                    <td>{{order.fullName}}</td>
                    <td>{{order.phoneNumber}}</td>
                    <td>{{order.city}}</td>
                    <td>{{(order.totalAmount + order.shippingAmount).toFixed(2)}}</td>
                    <td>{{order.code}}</td>
                    <td>{{order.customState}}</td>
                    <td>{{order.website}}</td>
                    <td>{{order.pageName}}</td>
                    <td>{{order.sellerName}}</td>
                    <td>{{order.carrierName}}</td>
                    <td>
                        <a href="javascript:void(0)" (click)="fetchOrderDetail(orderDetail,order.id)">Edit</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<ng-template #orderDetail let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Edit Order</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <h1>Product Information</h1>
                <div class="col-sm-12" style="float: right;margin-top: -35px;
                position: relative;
                display: block;">
                    <select name="orderStatus" id="orderStatus" [(ngModel)]="_orderDetail.customer.status">
                        <option value="register">Register/Placed</option>
                        <option value="shipped">Shipped/Taken by shipper</option>
                        <option value="contact_1">Contact 1</option>
                        <option value="contact_2">Contact 2</option>
                        <option value="received">Received</option>
                        <option value="returned">Return</option>
                        <option value="cancelled">Cancel</option>
                        <option value="completed">Complete</option>
                    </select>
                </div>
                <div class="col-sm-12" style="float: right;
                margin-top: 15px;
                position: relative;
                display: block;
                width: 20%;">
                    <button class="btn btn-primary" (click)="openProductPopUp(productModel)">Add New Product</button>
                </div>
                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product name</th>
                                <th scope="col">SKU</th>
                                <th scope="col">Unit price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of _orderDetail.detail.lines;let i = index">
                                <td style="display: none;"><input style="width: 22%;" name="previousQuantity_{{i}}" type="text" [(ngModel)]="_orderDetailProduct[i].previousQuantity" [ngModelOptions]="{standalone: true}"></td>
                                <td style="display: none;"><input style="width: 22%;" name="lineID{{i}}" type="text" [(ngModel)]="_orderDetailProduct[i].lineID" [ngModelOptions]="{standalone: true}"></td>
                                <td style="display: none;"><input style="width: 22%;" name="productVarientID_{{i}}" type="text" [(ngModel)]="_orderDetailProduct[i].productVarientID" [ngModelOptions]="{standalone: true}"></td>
                                <td *ngIf="item.productVariant.featuredAsset != null">
                                    <img src="{{item.productVariant.featuredAsset.preview}}" alt="" style="height: 42px;">
                                </td>
                                <td *ngIf="item.productVariant.featuredAsset == null">
                                    -
                                </td>
                                <td>{{item.productVariant.name}}</td>
                                <td>{{item.productVariant.sku}}</td>
                                <td><input style="width: 37%;" type="text" name="price_{{i}}" [(ngModel)]="_orderDetailProduct[i].price" [ngModelOptions]="{standalone: true}"></td>
                                <td><input style="width: 22%;" type="text" name="quantity_{{i}}" [(ngModel)]="_orderDetailProduct[i].quantity" [ngModelOptions]="{standalone: true}"></td>
                                <td>{{_orderDetailProduct[i].price * _orderDetailProduct[i].quantity}}</td>
                            </tr>
                            <tr>
                                <td colspan="5"><strong>Amount</strong></td>
                                <td>{{_totalAmount.toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td colspan="5"><strong>Shipping Amount</strong></td>
                                <td>{{_totalShippingAmount.toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td colspan="5"><strong>Total Amount</strong></td>
                                <td>{{(_totalShippingAmount + _totalAmount).toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <h1>Customer Information</h1>
                <div class="col-sm-12">
                    <form class="form-inline">
                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputEmail3">First Name</label> <br>
                                <input type="text" class="form-control" id="exampleInputEmail3" placeholder="First Name" [(ngModel)]="_orderDetail.customer.firstName" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail3">Surname</label> <br>
                                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Last Name" [(ngModel)]="_orderDetail.customer.lastName" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group">
                                <label for="customerAddress">Address</label> <br>
                                <input type="text" class="form-control" id="customerAddress" placeholder="Customer Address" [(ngModel)]="_orderDetail.customer.customAddress" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group">
                                <label for="customerTrackingNumber">Tracking Number</label> <br>
                                <input type="text" class="form-control" id="customerTrackingNumber" placeholder="Tracking Number" [(ngModel)]="_orderDetail.customer.code" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group">
                                <label for="shippingAmount">Shipping Amount</label> <br>
                                <input type="email" class="form-control" id="shippingAmount" placeholder="Shipping Amount" [(ngModel)]="_orderDetail.customer.shippingAmount" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail3">Phone Number</label> <br>
                                <input type="tel" class="form-control" id="exampleInputEmail3" placeholder="Phone Number" [(ngModel)]="_orderDetail.customer.phoneNumber" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputEmail3">Whatsapp Number</label> <br>
                                <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Whatsapp Number" [(ngModel)]="_orderDetail.customer.whatsapp_number" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail3">Website</label> <br>
                                <!-- <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Website" [(ngModel)]="_orderDetail.customer.website" [ngModelOptions]="{standalone: true}"> -->
                                <select class="form-control" style="width: 26% !important;
                        font-size: 13px;
                        height: 38px !important;
                    " [(ngModel)]="_orderDetail.customer.website" name="website" #website required>
                            <option value="">Select Website</option>
                            <option *ngFor="let web2 of customerWebsite" [value]="web2.name" >
                               {{web2.name}}
                            </option>
                   </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail3">Username on website</label> <br>
                                <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Username on website" [(ngModel)]="_orderDetail.customer.username_website" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputEmail3">Seller Name</label> <br>
                                <!-- <input type="text" class="form-control" id="exampleInputEmail3" readonly placeholder="Seller Name" [(ngModel)]="_orderDetail.customer.sellerName" [ngModelOptions]="{standalone: true}"> -->
                                <select class="form-control" name="sellerName" id="sellerName" [(ngModel)]="_orderDetail.customer.sellerName" [ngModelOptions]="{standalone: true}" style="width: 26% !important;font-size: 13px;height: 38px !important;">
                                    <option value="">Select Seller Name</option>
                                    <option value="Bayan">Bayan</option>
                                    <option value="Alaa">Ala'a</option>
                                    <option value="Merve">Merve</option>
                                    <option value="Areej">Areej</option>
                                    <option value="Sarah">Sarah</option>
                                    <option value="Madi7a">Madi7a</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail3">Payment Type</label> <br>
                                <!-- <input type="text" class="form-control" id="exampleInputEmail3" readonly placeholder="Payment Type" [(ngModel)]="_orderDetail.customer.paymentType" [ngModelOptions]="{standalone: true}"> -->
                                <select name="paymentType" id="paymentType" style="width: 26% !important;font-size: 13px;height: 38px !important;" [(ngModel)]="_orderDetail.customer.paymentType" [ngModelOptions]="{standalone: true}">
                                    <option value="">Select Payment Type</option>    
                                    <option value="Cash">Cash</option>
                                    <option value="Bank Transfer">Bank Transfer</option>
                                    <option value="Website">Website</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail3">Page Name</label> <br>

                                <select name="pageName" id="pageName" style="width: 26% !important;font-size: 13px;height: 38px !important;" [(ngModel)]="_orderDetail.customer.pageName">
                                        <option value="Gifty">Gifty</option>
                                        <option value="The Pirate">The Pirate</option>
                                        <option value="Dukkan">Dukkan</option>
                                        <option value="Venice">Venice</option>
                                        <option value="alwan">alwan</option>
                                    </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail3Conversation">Conversation Link</label> <br>
                                <textarea name="" id="exampleInputEmail3Conversation" cols="80" rows="5" [(ngModel)]="_orderDetail.customer.conversationLink" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail3Notes">Notes</label> <br>
                                <textarea name="" id="exampleInputEmail3Notes" cols="80" rows="5" [(ngModel)]="_orderDetail.customer.notes" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="trackingLink">Tracking Link</label> <br>
                                <textarea name="" id="trackingLink" cols="80" rows="5" [(ngModel)]="_orderDetail.customer.trackingLink" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-light " (click)="modal.close( 'Close click') ">Close</button>
        <button type="button " class="btn btn-primary" (click)="saveOrder()">Save</button>
    </div>
</ng-template>

<ng-template #productModel let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Select Product</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="floating-label product-div" *ngFor="let product of products;let i = index">
            <div class="product_price">${{product.product_varient_price}}</div>
            <input type="checkbox" name="products" [value]="product.product_varient_id" (change)="productSelect(product,$event.target.checked,i)" />
            <img [src]="product.product_varient_image_source" alt="" class="img-fluid product-image"> <span class="product_name">{{product.product_varient_name}}</span>
            <div class="product_stock">{{product.product_varient_stock_on_hand}} <input type="text" class="product_stock_input" (input)="changeProductStock(product,i)" [(ngModel)]="productStock[i]"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-light" (click)="addProductToList()">Update</button>
    </div>
</ng-template>